* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.col-lg-1 {
  width: 8.33%;
}

.col-lg-2 {
  width: 16.66%;
}

.col-lg-3 {
  width: 25%;
}

.col-lg-4 {
  width: 33.33%;
}

.col-lg-5 {
  width: 41.66%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: 58.33%;
}

.col-lg-8 {
  width: 66.66%;
}

.col-lg-9 {
  width: 75%;
}

.col-lg-10 {
  width: 83.33%;
}

.col-lg-11 {
  width: 91.66%;
}

.col-lg-12 {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1264px;
  padding: 120px 0;
}

[class*='col-lg'] {
  padding: 0 16px;
  box-sizing: border-box;
}

[class*='col-lg-3'],
[class*='col-lg-4'] {
  margin: 0 16px;
  padding: 0;
  box-sizing: border-box;
}

.image-sprite {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}
.left-element {
  width: 205px;
  height: 45px;
  fill: #3077c6;
}

.icons-image {
  display: flex;
  gap: 24px;
}

.icons-image__night {
  width: 30px;
  height: 30px;
  padding-top: 5px;
}
.icons-image__account {
  width: 40px;
  height: 40px;
}

.google-play {
  width: 135px;
  height: 45px;
  margin-right: 16px;
}
.App_Store {
  width: 120px;
  height: 47px;
}

.right-element__text-line {
  padding-bottom: 3px;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.right-element__text-line:hover:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #f5bd41;
  border: 0;
  bottom: -50%;
  left: 0;
  animation: line-change 1000ms cubic-bezier(1, 1, 0, 0) infinite;
}

@keyframes line-change {
  50% {
    height: 8px;
    background-color: #1eb498;
  }

  100% {
    height: 4px;
    background-color: #f5bd41;
  }
}

.right-element__icons--header-text {
  font-size: 24px;
}
.top-section {
  min-height: 100vh;
  background: url('../images/background_image.png') no-repeat center;
  background-size: cover;
}
.header-block {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.right-element {
  display: flex;
  gap: 48px;
}
.right-element__icons {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 24px;
  height: 100%;
  size: 24px;
}
.right-element__line {
  height: 4px;
  background-color: #f5bd41;
  border: 0;
}
.right-element__line--underline {
  width: 50px;
  margin: 0 auto;
}
.main-title {
  margin-top: 195px;
  color: #fff;
  font-weight: 500;
  font-size: 50px;
}

.place-block__label {
  color: #fff;
  display: block;
  margin-left: 24px;
  margin-top: 100px;
}
.place-block__input {
  margin-top: 24px;
  font-size: 18px;
  line-height: 56px;
  border-radius: 8px;
  border: 3px solid #f3f3f4;
  box-sizing: border-box;
}
.apps {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.place-block {
  width: 38%;
}
.place-block__input--place {
  width: 201%;
}

.date-block {
  width: 32%;
  display: flex;
  justify-content: center;
}

.info-block {
  width: 25%;
  display: flex;
}

.place-block__input--date {
  max-width: 110px;
  border: 3px solid #f5bd41;
}

.place-block__input-border {
  border-right: none;
  max-width: 110%;
  border-radius: 8px 0 0 8px;
}

.place-block__input--date-between {
  max-width: 19px;
}

.place-block__input--info {
  width: 105%;
  border-radius: 0;
  margin-top: 143px;
  border: 3px solid #ffffff;
}

.place-block__input--info-mobile {
  display: none;
}

.info-block__adult {
  border-left: 3px solid #f5bd41;
}

.sign-up {
  display: block;
}

.place-block__search {
  box-sizing: border-box;
  width: 100%;
  margin-top: 142px;
  line-height: 59px;
  font-weight: 500;
  font-size: 24px;
  background-color: #3077c6;
  border: 2px solid #3077c6;
  border-radius: 8px;
  color: #fff;
}

.button {
  width: 16%;
}

.destination {
  display: flex;
}

.title {
  text-align: center;
  margin-bottom: 100px;
  font-weight: 500;
  font-size: 40px;
  position: relative;
}

.title__line:after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100px;
  background-color: #f5bd41;
  border: 0;
  bottom: -50%;
  left: calc(50% - 50px);
}

.main-block__row {
  text-align: center;
  width: 296px;
}
.container__properties-footer {
  padding-top: 120px;
}
.main-block {
  font-size: 24px;
  max-width: 1232px;
  display: flex;
  gap: 16px;
}

.row-image {
  width: 100px;
  height: 100px;
}

.footer {
  background-color: #10367c;
  color: #fff;
}

.main-row {
  display: flex;
  font-size: 20px;
  margin: 0;
  max-width: 1064px;
  justify-content: space-between;
}

.columns__footer-title {
  font-weight: 400;
  margin-bottom: 24px;
}

.links__element--link {
  text-decoration: none;
  color: #ffffff;
}

.links {
  padding: 0;
}

.links__element {
  list-style-type: none;
  margin: 24px 0;
}

.footer-title {
  font-weight: 500;
  padding-top: 120px;
}

.columns {
  margin-bottom: 40px;
}

.small-text {
  font-size: 14px;
  margin: 0;
}

.footer__logo {
  display: none;
}

.icons-image__menu {
  display: none;
}

.place-block__input--destination-line {
  display: none;
}

.check-in {
  max-width: 42%;
}

.check-out {
  max-width: 42%;
}

.check-in__info {
  max-width: 35%;
}

.place-block__input--date-check-out {
  border-left: 0;
  border-radius: 0 8px 8px 0;
}

.place-block__input--date-between {
  max-width: 15px;
  margin-top: 143px;
  border: none;
  border-radius: 0;
  border-top: 3px solid #f5bd41;
  border-bottom: 3px solid #f5bd41;
}

.label-info {
  display: none;
}

.homes-guests {
  background-color: #eaf0f9;
}

.blocks,
.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-guests {
  width: 100%;
  padding-bottom: 24px;
}

.block {
  width: 272px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 24px;
  position: relative;
}

.last-block {
  margin-right: 16px;
  padding-bottom: 42px;
}

.block:last-child {
  margin-right: 16px;
}

.hotel-title {
  color: #3077c6;
  padding-bottom: 24px;
}

.text-hotel {
  color: #bfbfbf;
}

.circle {
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.circle-homes-guests {
  right: 150px;
  margin-top: 100px;
}

.circle-guests-reviews {
  right: -30px;
}

.arrow-right {
  margin-top: 12px;
  margin-left: 12px;
  border: 2px solid #000;
  width: 10px;
  height: 10px;
  border-left: 0;
  border-top: 0;
  transform: rotate(315deg);
}

.circle-mobile,
.arrow-right-mobile {
  display: none;
}

.check-button {
  max-width: 635px;
  height: 64px;
  background: #f3f3f4;
  border-radius: 8px;
  margin-bottom: 65px;
}

.button-destinations {
  width: 192px;
  height: 64px;
  background: #f3f3f4;
  color: #383838;
  border: none;
  font-size: 24px;
  border-radius: 8px;
}

.regions {
  background: #3077c6;
  color: #ffffff;
}

.places {
  width: 240px;
}

.island {
  padding-bottom: 48px;
}

.circle-bottom {
  background: #f3f3f4;
  left: -115%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-bottom {
  position: absolute;
  z-index: 2;
  right: 14px;
  top: 10px;
  width: 10px;
  height: 10px;
  border: 2px solid #000;
  border-left: 0;
  border-top: 0;
  transform: rotate(45deg);
}

.sign-up .container__properties {
  padding: 0;
}

.sign-up-block {
  background-color: #eaf0f9;
  position: relative;
}

.close {
  position: absolute;
  right: 24px;
  top: 24px;
}

#choose-form-element {
  background-color: white;
  width: 260px;
  border-radius: 8px;
  padding: 22px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 12px 15% 0 auto;
}

.p {
  width: 48px;
  border: none;
  text-align: center;
}

select {
  margin-top: 10px;
  margin-left: 10px;
}

.button-change {
  width: 30px;
  height: 30px;
  color: #3077c6;
  border: 1px solid #3077c6;
  background-color: #fff;
}

.button-change:disabled {
  background-color: #a6a6a6;
  color: #3077c6;
}

#choose-form-element {
  display: none;
}

.change-element {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.change-element:last-child {
  padding-bottom: 0;
}

.sign-up-account {
  display: flex;
}

.user-logo {
  padding: 57px 24px;
}

.text-sign-up {
  padding-top: 51px;
}

.sign-up-button {
  margin-top: 21px;
  width: 128px;
  height: 48px;
  border: 1px solid #3077c6;
  color: #3077c6;
  background: #ffffff;
  font-size: 18px;
  border-radius: 8px;
}

.guest-reviews-blocks {
  display: flex;
}

.guest-reviews-block {
  position: relative;
  box-sizing: border-box;
  background-color: #eaf0f9;
}

.house-image {
  width: 100%;
}

.black-block {
  width: 100%;
  height: 48px;
  background-color: rgba(56, 56, 56, 0.7);
  position: absolute;
  margin-top: -52px;
}

.down-title {
  color: #ffffff;
  font-size: 18px;
  padding-top: 16px;
  padding-left: 24px;
}

.country {
  background-color: #eaf0f9;
  width: 100%;
  margin-top: -4px;
  color: #3077c6;
  font-size: 18px;
}

.search-result {
  display: none;
  background-color: rgba(236, 214, 255, 0.57);
}

.country-title {
  padding-top: 24px;
  padding-left: 24px;
  font-weight: 500;
  font-size: 18px;
}

.country-text {
  padding-top: 16px;
  font-weight: 400;
  padding-left: 24px;
}

.mark-block {
  width: 48px;
  height: 32px;
  border-radius: 8px;
  background-color: #10367c;
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  right: 24px;
  margin-top: 24px;
}

.mark {
  padding-top: 6px;
  padding-left: 11px;
}

.reviews {
  font-size: 14px;
  color: #bfbfbf;
  position: absolute;
  right: 24px;
  margin-top: 64px;
}

.account-picture {
  padding: 30px 22px 22px 30px;
}

.personal_account {
  display: flex;
}

.account-date {
  padding-top: 31px;
}

.personal-name {
  color: #383838;
}

.personal-date {
  color: #bfbfbf;
  padding-top: 8px;
}

.comment {
  padding: 0 24px 24px;
  color: #383838;
}

.first__comment {
  padding-bottom: 66px;
}

.last__comment {
  padding-bottom: 45px;
}

.country-mark-reviews {
  display: flex;
}

.sign-up-guests-reviews {
  display: flex;
  flex-direction: column;
}

.sign-up__logo-mv {
  display: none;
}

.install {
  display: none;
}

@media (max-width: 768px) {
  .col-sm-1 {
    width: 16.66%;
  }

  .col-sm-2 {
    width: 33.33%;
  }

  .col-sm-3 {
    width: 50%;
  }

  .col-sm-4 {
    width: 66.66%;
  }

  .col-sm-5 {
    width: 83.33%;
  }

  .col-sm-6 {
    width: 100%;
  }

  .container {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  .main-block {
    font-size: 24px;
    max-width: 1232px;
    display: flex;
    gap: 32px 16px;
    flex-wrap: wrap;
  }

  .title {
    margin-bottom: 32px;
    font-size: 28px;
  }

  .container__line {
    display: none;
  }

  .row-image {
    margin-bottom: 11px;
    width: 70px;
    height: 70px;
  }

  .main-block__text {
    font-size: 15px;
  }

  .footer__logo {
    display: block;
    margin: 0 auto;
    fill: #ffffff;
    padding-bottom: 40px;
    width: 98px;
    height: 19px;
  }

  .main-block__row:last-child {
    padding-bottom: 50px;
  }

  .container__properties-footer {
    padding-top: 40px;
  }

  .columns__footer-title {
    font-weight: 400;
    margin-bottom: 24px;
    font-size: 15px;
  }

  .links {
    display: none;
  }

  .main-row {
    justify-content: center;
    gap: 16px;
  }

  .columns {
    margin: 0;
  }

  .columns__footer-title {
    margin-bottom: 32px;
    text-decoration: underline;
  }

  .small-text {
    text-align: center;
    padding-bottom: 40px;
  }

  .left-element {
    width: 122px;
    height: 24px;
  }

  .right-element__icons--header-text {
    display: none;
  }

  .icons-image__menu {
    display: inline;
    width: 24px;
    height: 16px;
    padding-top: 4px;
  }

  .icons-image__account {
    display: inline;
    width: 24px;
    height: 24px;
  }

  .icons-image__night {
    display: inline;
    width: 16px;
    height: 16px;
  }

  .header-block {
    padding-top: 16px;
  }

  .icons-image {
    gap: 16px;
    padding-bottom: 12px;
  }

  .main-title {
    margin-top: 40px;
    font-size: 30px;
  }

  .place-block__label {
    margin-top: 0;
  }

  .destination {
    margin-top: 30px;
    display: block;
  }

  .place-block__input--info-desktop {
    display: none;
  }

  .place-block__input--place {
    display: none;
  }

  .place-block__label {
    display: none;
  }

  .place-block {
    border: 8px solid #f5bd41;
    background-color: #f5bd41;
    box-sizing: border-box;
  }

  .place-block__input--destination-line {
    display: block;
    width: 100%;
    height: 48px;
  }

  .place-block__input--place {
    display: none;
  }

  .date-block {
    display: flex;
    border-right: 8px solid #f5bd41;
    border-left: 8px solid #f5bd41;
    background-color: #f5bd41;
    box-sizing: border-box;
  }

  .place-block__input--date-between {
    display: none;
  }

  .place-block__input--date {
    max-width: 100%;
    height: 24px;
    margin: 0;
    border-radius: 0 0 8px 8px;
    border: none;
  }

  .place-block__input {
    width: 100%;
    border-top: 0;
    padding-left: 8px;
    margin-top: 0;
  }

  .check-in {
    max-width: 100%;
    box-sizing: border-box;
  }

  .check-out {
    max-width: 100%;
  }

  .label-date {
    display: block;
    color: #383838;
    background-color: #fff;
    line-height: 24px;
    border-radius: 8px 8px 0 0;
    padding-left: 8px;
  }

  .place-block__label {
    margin: 0;
  }

  .check-in {
    border-right: 8px solid #f5bd41;
  }

  .info-block {
    display: flex;
    border: 8px solid #f5bd41;
    background-color: #f5bd41;
    box-sizing: border-box;
  }

  .label-info {
    display: flex;
    color: #383838;
    background-color: #fff;
    line-height: 16px;
    border-right: none;
    border-left: none;
    padding-left: 8px;
  }

  .place-block__input--info {
    height: 20px;
    max-width: 100%;
    border-radius: 0;
  }

  .place-block__input--info-mobile {
    display: flex;
    border: none;
    margin-top: 0;
  }

  .check-in__info {
    border: none;
    background-color: #fff;
  }

  .check-in__info:first-child {
    border-radius: 8px 0 0 8px;
    border-left: 1px solid #f5bd41;
    background-color: #fff;
  }

  .check-in__info:last-child {
    border-radius: 0 8px 8px 0;
    border-right: 1px solid #f5bd41;
    background-color: #fff;
  }

  .place-block__search {
    display: block;
    margin-top: 0;
    font-size: 19px;
    line-height: 44px;
  }

  .button {
    border-right: 8px solid #f5bd41;
    border-left: 8px solid #f5bd41;
    border-bottom: 8px solid #f5bd41;
    background-color: #f5bd41;
    width: 100%;
    box-sizing: border-box;
  }

  .apps {
    margin-top: 32px;
    padding-bottom: 40px;
  }

  .indent {
    margin: 6px 0;
    background-color: #fff;
    border-right: 2px solid #bfbfbf;
  }

  .indent__room:last-child {
    border-right: none;
  }

  .block {
    width: 156px;
  }

  .hotel-title,
  .text-hotel {
    font-size: 12px;
    padding-bottom: 8px;
  }

  .img-guests {
    width: 100%;
    padding-bottom: 8px;
  }

  .block:nth-child(3),
  .block:nth-child(4) {
    display: none;
  }

  .block:nth-child(2) {
    padding-bottom: 50px;
  }

  .circle-mobile {
    display: inline;
    background: #fff;
    right: 0;
    top: 1520px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .arrow-right-mobile {
    display: inline;
    position: absolute;
    z-index: 2;
    width: 5px;
    top: 1530px;
    height: 5px;
    right: 12px;
    border: 2px solid #000;
    border-left: 0;
    border-top: 0;
    transform: rotate(315deg);
  }

  .button-destinations {
    width: 160px;
    height: 32px;
    font-size: 19px;
  }

  .check-button {
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto;
  }

  .close {
    padding: 21px 16px 45px;
    width: 16px;
    height: 16px;
    left: 0;
  }

  .sign-up-account {
    margin: 0 auto;
  }

  .sign-up-block {
    background-color: #fff;
  }

  .sign-up-title-block {
    width: 58px;
    height: 58px;
    background-color: #3077c6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sign-up {
    display: block;
    order: 1;
  }

  .sign-up__logo-mv {
    display: inline-block;
    margin-top: 24px;
    margin-left: 49px;
    background-color: #3077c6;
    fill: #ffffff;
    width: 58px;
    height: 58px;
  }

  .text-sign-up {
    padding: 0;
    width: 50%;
  }

  .container__properties {
    padding-bottom: 0;
  }

  .title-sign-up {
    font-size: 12px;
    padding: 39px 16px;
  }

  .user-logo {
    display: none;
  }

  .install {
    display: inline;
    font-size: 14px;
    color: #3077c6;
    padding: 45px 16px 45px 0;
  }

  .guests-reviews {
    background-color: #eaf0f9;
  }

  .second__guest-reviews-block,
  .third__guest-reviews-block {
    display: none;
  }

  .sign-up-button {
    display: none;
  }
}
